body {
    margin: 0 0;
    box-sizing: border-box;
}

.left_button{
    text-decoration: none;
    text-transform: uppercase;
    /*margin-left: 30px;*/
    margin-top: 25px;
    cursor: pointer;
    /*width: 20%;*/
    height: 100px;
    background-color: rgba(17, 24, 5, 0.48);
    text-align: center;
    line-height: 100px;
    font-size: large;
    color: white;
}
.left_button:hover {
    text-decoration: none;
    text-transform: uppercase;
    color: blue;
}


.right_button{
    text-decoration: none;
    text-transform: uppercase;
    /*margin-left: 30px;*/
    margin-top: 25px;
    cursor: pointer;
    /*width: 20%;*/
    height: 100px;
    background-color: rgba(17, 24, 5, 0.48);
    text-align: center;
    line-height: 100px;
    font-size: large;
    color: white;
}
.right_button:hover {
    text-decoration: none;
    text-transform: uppercase;
    color: blue;
}

.center_info {
    cursor: pointer;
    /*width: 30%;*/
    height: 150px;
    background-color: #ff484b;
    text-align: center;
    font-size: 30px;
    line-height: 75px;
    color: white;
}

/*.header {*/
/*    display: flex;*/
/*    align-content: center;*/
/*    justify-content: space-between;*/
/*    flex-direction: row;*/
/*}*/

/*.left_but {*/
/*    !*margin-left: 30px;*!*/
/*    margin-top: 25px;*/
/*    cursor: pointer;*/
/*    !*width: 20%;*!*/
/*    height: 100px;*/
/*    background-color: rgba(17, 24, 5, 0.48);*/
/*    text-align: center;*/
/*    line-height: 100px;*/
/*}*/

/*.left_but .left_button {*/
/*    font-size: large;*/
/*    color: white;*/
/*    text-decoration: none;*/
/*    text-transform: uppercase;*/
/*}*/

/*.right_but {*/
/*    !*margin-right: 30px;*!*/
/*    margin-top: 25px;*/
/*    cursor: pointer;*/
/*    !*width: 20%;*!*/
/*    height: 100px;*/
/*    background-color: rgba(17, 24, 5, 0.48);*/
/*    text-align: center;*/
/*    line-height: 100px;*/
/*}*/

/*.right_but .right_button {*/
/*    font-size: large;*/
/*    color: white;*/
/*    text-decoration: none;*/
/*    text-transform: uppercase;*/
/*}*/


